
@model VM_Product_Get

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="container">
<a class="btn btn-primary create" href="#" role="button" data-bs-toggle="modal" data-bs-target="#exampleModalCreate">Create</a>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>CreateDate</th>
               
            <th>UpdateDate</th>
                <th>Add Images</th>
            <th>Update</th>
            <th>Deleted</th>
        </tr>
        
    </thead>
    <tbody id="PoductAjaxId">
        @foreach (Product item in Model.Products)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.CreateDate</td>
                <td>@item.UpdateDate</td>
                    <td><a class="btn btn-primary addImages" data-id="@item.Id" role="button" data-bs-toggle="modal" data-bs-target="#exampleModalAddImages">Add Images</a></td>
                <td><a class="btn btn-primary" href="/admin_panel/Product/Update/@item.Id" role="button">Update</a></td>
                <td>
                    <a class="btn btn-danger deleted" href="#" data-id="@item.Id" role="button" data-bs-toggle="modal" data-bs-target="#exampleModalDeleted">Del</a>
                
                    </td>
            </tr>
        }
    </tbody>
</table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @{
                int count=Model.Count % 5 == 0 ? Model.Count/5 : (Model.Count/5)+1;
                for (int i = 0; i < count; i++)
                {
                                                                                                                                <li class="page-item"><a class="page-link pagination" href="/admin_panel/Product/Get?page=@(i+1)&&size=5">@(i + 1)</a></li>
                }
           }
            
       
        </ul>
    </nav>

</div>
<!-- Deleted Modal -->
<div class="modal fade" id="exampleModalDeleted" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Deleted</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary deleted_modal">Deleted</button>
            </div>
        </div>
    </div>
</div>


<!-- Create Modal -->
<div class="modal fade" id="exampleModalCreate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Name</label>
                                        <input type="text" id="name" name="Name" class="form-control" id="exampleFormControlInput1" placeholder="Name">

                                    </div>
                               
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Price</label>
                        <input type="number" id="price" name="Price" class="form-control" id="exampleFormControlInput1" placeholder="Price">
                                    </div>
                               
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Stock</label>
                        <input type="number" id="stock" name="Stock" class="form-control" id="exampleFormControlInput1" placeholder="Stock">
                                    </div>
                         
                    <input type="submit" class="btn btn-primary create_modal" value="Create" />

            </div>

        </div>
    </div>
</div>


<!--Add Images-->
<div class="modal fade" id="exampleModalAddImages" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Images</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/admin_panel/Product/PostImages" enctype="multipart/form-data">
                    <input type="hidden" id="ImagesProductId" name="Id"/>
                <div class="mb-3">
                    <label for="formFileSm" class="form-label">Small file input example</label>
                        <input class="form-control form-control-sm" name="productFiles" id="formFileSm" type="file" multiple>
                </div>

                
                <input type="submit" class="btn btn-primary addimages_modal" value="Add Images" />
                </form>
            </div>

        </div>
    </div>
</div>

 @section Scripts
{
    <script src="/lib/jquery/dist/jquery.js" asp-append-version="true"></script>

   @*  Delete *@
    <script>
    $(".deleted").click(
        function () {
            var id = $(this).data("id");
                $(".deleted_modal").data("id", id);
        });

        $(".deleted_modal").click(
            function () {
               
                $.ajax({
                type:"post",
                    url: "/admin_panel/Product/Deleted/" + $(this).data("id"),
                    success: function () 
                    {
                        window.location.replace("/admin_panel/Product/Get");
                    },
                    error: function () {
                        window.location.replace("/admin_panel/Product/Get");
                    }
                });
            });
    </script>

     @*  Create *@
     <script>
        $(".create_modal").click(function () { 
     
            var product = {
           name:$("#name").val(),
                price:$("#price").val(),
                stock:$("#stock").val()
            
            };
           
            $.ajax({
            type:"post",
            url:"/admin_panel/Product/Post",
            data:product,
                success:function(data) 
                {
                
                    GetData();
                   // window.location.replace("/admin_panel/Product/Get");
                },
                error: function() {
                    alert("post error");
                    //window.location.replace("/admin_panel/Product/Get");
                }
            });
        
        });


         function GetData() {

            $.ajax({
                type: "GET",
                contentType:"json",
                url: "/admin_panel/Product/Get2",
                success: function (data) {
                    $('#exampleModalCreate').hide();
                    $('.modal-backdrop').hide();
                    var count = data.count; // count değerini alın
                    var products = data.products; // products değerini alın
                    $("#PoductAjaxId").html('');

                    $.each(products, function (index, item) {

                        $("#PoductAjaxId").append('<tr><td>' + item.name + '</td><td>' + item.price + '</td><td>' + item.stock + '</td><td>' + item.createDate + '</td><td>' + item.updateDate + '</td><td><a class="btn btn-primary addImages" data-id=' + item.id + ' role="button" data-bs-toggle="modal" data-bs-target="#exampleModalAddImages">Add Images</a></td><td><a class="btn btn-primary" href="/admin_panel/Product/Update/' + item.id + '" role="button">Update</a></td> <td><a class="btn btn-danger deleted" href="#" data-id='+item.id+' role="button" data-bs-toggle="modal" data-bs-target="#exampleModalDeleted">Del</a></td></tr> '
                         );
                    });
                },
                error: function (data) { 
                    alert("get error");
                    console.log(data); 
                }
            });

         }

    </script>

   @*  Add Images *@
    <script>

        $(".addImages").click(function () { 
        
            var id = $(this).data("id");
          
            document.getElementById("ImagesProductId").value = id;
       
        });

    </script>

}